html, body {
    margin: 0;
    padding: 0;
    background-image: url("bitcoin.jpg");
    height: 100%;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}

svg{
background-color:#f5f5f5;

}

#info-text{
  background-color:steelblue;
  color:white;
}
#graph{
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.grid .tick { stroke: lightgrey; stroke-opacity: 0.7; shape-rendering: crispEdges; } .grid path { stroke-width: 0; }

.area { fill: lightsteelblue; stroke-width: 0; }
